{% load static %}
<html>
    <head>
        <title>Exciting Python</title>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
    </head>
    <body>
        <div class="uk-position-relative">
            <div class="uk-position-top">
                <nav class="uk-navbar-container uk-margin" uk-navbar>
                    <div class="uk-navbar-left">

                        <a class="uk-navbar-item uk-logo" href="#">Logo</a>

                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="#">
                                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                                    Programs
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                                    Tests
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                                    Q&A
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>