{% extends 'program/base.html' %}

{% block content %}
<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('https://www.beiz.jp/images_M/pastel/pastel_00003.jpg');">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
    	<form action="javascript:void(0)">
            <input class="uk-input uk-form-width-medium" type="text">
            <button class="uk-button uk-button-default">探す</button>
        </form>
    </div>

</div>
{% endblock content %}