{% extends 'program/base.html' %}

{% block content %}
<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('https://www.beiz.jp/images_M/pastel/pastel_00003.jpg');">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
    	<form action="javascript:void(0)">
            <input class="uk-input uk-form-width-medium" type="text">
            <button class="uk-button uk-button-default">探す</button>
        </form>
    </div>
</div>
<div class="container news-area uk-margin-top">
	<h2 class="uk-heading-line uk-text-muted uk-text-center"><span>最近学習したプログラム</span></h2>
	<div class="uk-child-width-1-5@s uk-grid-match uk-margin-left uk-padding" uk-grid>
	        <div class="uk-card uk-card-default uk-card-body uk-margin-left">
	            <h3 class="uk-card-title">default</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	        </div>
	        <div class="uk-card uk-card-default uk-card-body uk-margin-left">
	            <h3 class="uk-card-title">default</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	        </div>
	        <div class="uk-card uk-card-default uk-card-body uk-margin-left">
	            <h3 class="uk-card-title">default</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	        </div>
	        <div class="uk-card uk-card-default uk-card-body uk-margin-left">
	            <h3 class="uk-card-title">default</h3>
	            <p>...もっと見る</p>
	        </div>
	</div>

	<h2 class="uk-heading-line uk-text-muted uk-text-center"><span>最新情報</span></h2>
	<div class="uk-child-width-1-5@s uk-grid-match uk-margin-left uk-padding" uk-grid>
	        <div class="uk-card uk-card-default uk-card-body uk-margin-left">
	            <h3 class="uk-card-title">default</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	        </div>
	        <div class="uk-card uk-card-default uk-card-body uk-margin-left">
	            <h3 class="uk-card-title">default</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	        </div>
	        <div class="uk-card uk-card-default uk-card-body uk-margin-left">
	            <h3 class="uk-card-title">default</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	        </div>
	        <div class="uk-card uk-card-default uk-card-body uk-margin-left">
	            <h3 class="uk-card-title">default</h3>
	            <p>...もっと見る</p>
	        </div>
	</div>
</div>
{% endblock content %}